<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>MITM</title>
</head>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MITM</title>
</head>
<body>
   <h1>Coucou Petite Perruche</h1>
</body>
</html>